body {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    background-image: url(fondobla.jpg);
}

header,
footer {
    background-color: rgba(119, 133, 128,40%);
    color: rgb(36, 31, 31);
    text-align: center;
    padding: 15;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

.ContenedorUno{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(149, 88, 105);


}

.ContenedorDos{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(80, 43, 129);

}
.img1{
   width: 350px;
   height: 250px;
    
    
}

.Yo {
    color: blue;
}
.datos{
    color: rgb(63, 64, 129);
}
.Contenedortres{
    display: flex;
    justify-content: center;
    background-color: rgba(190, 190, 190,40%);
    font-family:  Arial, helvetica,sans-serif;
   
}
.txt{
    margin-right: 0px;
    
}